@using ChampionshipManager.Db.Models
@using ChampionshipManager.BusinessLayer.Services
@using ChampionshipManager.Web.Utils

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject TeamService TeamService
@inject OrganizerService OrganizerService

@namespace ChampionshipManager.Web.Pages.Teams


<EditForm Model="@_team" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <InputText id="name" @bind-Value="_team.Name" placeholder="Add new team"/><button class="oi oi-check" type="submit" style="height: 27px"></button>
</EditForm>


@code{

    [Parameter]
    public Action Refresh { get; set; }

    private Team _team = new Team();
    
    protected override async Task OnInitializedAsync()
    {
        var organizerName = await AuthenticationStateProvider.GetUserName();
        _team.Organizer = OrganizerService.GetByName(organizerName);
    }

    private async Task HandleValidSubmit()
    {
        await TeamService.Create(_team);
        
        var org = _team.Organizer;
        _team = new Team();
        _team.Organizer = org;
        Refresh?.Invoke();
    }

}