
ChampionshipManager/.idea/

ChampionshipManager/ChampionshipManager.Web/bin/

ChampionshipManager/ChampionshipManager.Web/obj/

ChampionshipManager/ChampionshipManager.Db/obj/

ChampionshipManager/ChampionshipManager.BusinessLayer/bin/

ChampionshipManager/ChampionshipManager.BusinessLayer/obj/

ChampionshipManager/ChampionshipManager.Db/bin/
