@using ChampionshipManager.Db.Models
@using ChampionshipManager.BusinessLayer.Services
@using ChampionshipManager.Web.Utils

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SkillService SkillService
@inject OrganizerService OrganizerService

@namespace ChampionshipManager.Web.Pages.Skills


        <EditForm Model="@_skill" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator/>
            <ValidationSummary/>

            <InputText id="name" @bind-Value="_skill.Name" placeholder="Add new level"/>
            <InputNumber id="order" @bind-Value="_skill.Order"/>

            <button class="oi oi-check" type="submit" style="height: 27px"></button>
        </EditForm>


@code{

    [Parameter]
    public Action Refresh { get; set; }

    private Skill _skill = new Skill();
    
    protected override async Task OnInitializedAsync()
    {
        var organizerName = await AuthenticationStateProvider.GetUserName();
        _skill.Organizer = OrganizerService.GetByName(organizerName);
    }

    private void HandleValidSubmit()
    {
        SkillService.Create(_skill);
        var org = _skill.Organizer;
        _skill = new Skill();
        _skill.Organizer = org;
        Refresh?.Invoke();
    }

}