@page "/Skills"
@using ChampionshipManager.Db.Models
@using ChampionshipManager.Web.Utils
@using ChampionshipManager.BusinessLayer.Services
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject OrganizerService OrganizerService

<AuthorizeView>
    <Authorized>
        <CreateSkill Refresh="@Refresh"/>
        
        <br/>
        <br/>
        Created skills: <br/>
        @foreach (var skill in AllSkills)
        {
            @skill.Name<br/>
            
            <div style="padding-left: 5em">@skill.Order</div><br/>
        }
    </Authorized>


    <NotAuthorized>
        Please log in.
    </NotAuthorized>
</AuthorizeView>

@code
{
    private List<Skill> AllSkills { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var organizerName = await AuthenticationStateProvider.GetUserName();
        AllSkills = OrganizerService.GetSkillsByName(organizerName);
    }

    private void Refresh()
    {
        StateHasChanged();
    }
}