@page "/Tournament/{ChampionshipId}/{TournamentId}"
@using ChampionshipManager.Db.Models
@using ChampionshipManager.BusinessLayer.Services

@inject TournamentService TournamentService
@inject GameService GameService


<div style="font-size: large">
    <a href="/Championship/@ChampionshipId">
        <button class="oi oi-arrow-left" style="font-size: large;width: 250px">
            <span style="padding-left: 10px">Back</span>
        </button>
    </a>
</div>
@switch (Tournament.TournamentType)
{
    case TournamentType.AgainstEverybody:
        <ShowTournamentAgaintsEverybody TournamentId="@TournamentId"></ShowTournamentAgaintsEverybody>
        break;
    case TournamentType.Spider:
        <ShowTournamentSpider TournamentId="@TournamentId"></ShowTournamentSpider>
        break;
}

@code{

    [Parameter]
    public string ChampionshipId { get; set; }

    [Parameter]
    public string TournamentId { get; set; }

    private Tournament Tournament;


    protected override void OnInitialized()
    {
        Tournament = TournamentService.GetById(TournamentId);
    }



}