@page "/Championships"
@using ChampionshipManager.Db.Models
@using ChampionshipManager.BusinessLayer.Services
@using ChampionshipManager.Web.Utils

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject OrganizerService OrganizerService


<a href="/CreateChampionship">Create new Championship</a>

<h4>Championships in progress</h4>
@foreach (var championship in AllChampionships.Where(c => !c.IsFinished))
{
    <a href = "/Championship/@championship.ID" style="padding-left: 5em">@championship.Name</a>
}

<h4>Championships finished</h4>
@foreach (var championship in AllChampionships.Where(c => c.IsFinished))
{
    <a href = "/Championship/@championship.ID" style="padding-left: 5em">@championship.Name</a>
}

@code
{
    private List<Championship> AllChampionships { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var organizerName = await AuthenticationStateProvider.GetUserName();
        AllChampionships = OrganizerService.GetChampionshipsByName(organizerName);
    }

}
